.button-container{
    margin: 30px 0 0 40px;
}

.ModalButton{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.ModalButton:hover{
    background-position: right center;
    outline: none;
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    padding: 16px 0 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
}

.Modal > p {
    padding: 16px;
    margin: 0;
}

.ModalItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    padding: 0 16px 16px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.Button {
    border: none;
    background: white;
    cursor: pointer;
}

.Alert {
    border: 1px solid;
    width: 400px;
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.warning {
    background: salmon;
}

.success {
    background: lightgreen;
}

.ButtonAlert {
    border: none;
    background: transparent;
    cursor: pointer;
}